.skillset{
    background-color: #CEE5D0;
    padding-bottom:50px;
}

.skillset p{
    color:#5E8B7E;
    font-size: 200;
    font-weight: 500;
}

.skillset span{
    display:inline-block;
    padding: 30px;
    margin: 10px 10px;
    box-shadow: -5px -5px 10px rgba(255,255,255,0.4),
    5px 5px 10px rgba(0,0,0,0.2);
}

.divider2{
    fill:var(--lightdivider2);
  }
  
.dark .divider2{
    --lightdivider2:#334257;
}

.dark .skillset{
    background-color: #3B185F;
}

.dark .skillset p{
    color: #A7C4BC;
}